.container {
    width: auto;
    margin: 0 auto;
}

.inner-container {
    text-align: center;
}
{
    $font-family-sans-serif:
    // Safari for macOS and iOS (San Francisco)
-apple-system,
// Chrome < 56 for macOS (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android
"Roboto",
// Basic web fallback
"Helvetica Neue", Arial, sans-serif,
// Emoji fonts
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

}
// With variable
   .alpha { color: $purple; }

// From the Sass map with our `color()` function
                                        .beta { color: color("purple"); }